.add-task {
  width: 100%;

  >.inputwrap  {
    max-width: 50rem;
    height: 7rem;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    >.input {
      flex: 0 0 75%;

      @include respond(phone) {
        flex: 0 0 75%;
      }

    }

    >.submit {
      flex: 0 0 15%;

      @include respond(phone) {
        flex: 0 0 20%;
      }
    }
  }
}