.task-area {
  padding-top: 1rem;
  padding-bottom: 5rem;
  padding-right: 5rem;
  padding-left: 5rem;

  @include respond(phone) {
    padding-bottom: 2rem;
    padding-right: 1rem;
    padding-left: 1rem;
  }
}