.todolist-wrap {
  max-width: 80rem;
  min-height: 100vh;
  padding-top: 1rem;
  padding-bottom: 5rem;
  padding-right: 5rem;
  padding-left: 5rem;

  @include respond(phone) {
    padding-top: 2rem;
    padding-bottom: 5rem;
    padding-right: 1rem;
    padding-left: 1rem;
  }
}